/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding:0;
    background-color: #141d2f;
    font-size: 13px;
    color: white;
    width: 100%;
    position: relative;
    height: 100%;
}