.container {
    width: 573px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.main {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::placeholder{
    color: white;
}
.light-mode {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light-mode p {
    letter-spacing: 2.5px;
    font-weight: bold;
}

h1 {
    font-size: 26px;
}

.search-container {
    position: relative;
    border-radius: 15px;
    background-color: #1e2a47;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    display: flex;
    height: 100%;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../assets/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 20px;
}

#input {
    border: none;
    width: 80%;
    outline: none;
    background: none;
    color: var(--lm-text);
    padding-left: 50px;
}

.btn-search {
    min-width: 84px;
    padding: 12px 16px;
    background-color: #0079ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}


@media screen and (min-width: 1280px) {
    .container {
        width: 730px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 573px;
    }

    #input {
        font-size: 18px;
        width: 75%;
    }

    .btn-search {
        padding: 14px 28px;
        font-size: 16px;
    }
}