.container {
    width: 573px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.main {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::placeholder {
    color: white;
}

.light-mode {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light-mode p {
    letter-spacing: 2.5px;
    font-weight: bold;
}

h1 {
    font-size: 26px;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search-container {
    position: relative;
    border-radius: 15px;
    background-color: #1e2a47;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    display: flex;
    height: 71px;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../assets/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 20px;
}

.profile-container {
    width: calc(100% - 81px);
    position: relative;
    background-color: #1e2a47;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 24px; 
    justify-content: space-between;

}


.name {
    font-size: 28px;
    font-weight: bold;
}

.login-name {
    color: #0079ff;
    font-size: 16px;
    font-weight: lighter !important;
}

.profile-header {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

#avatar { 
    position: absolute;
    width: 70px;
    border-radius: 90px;
    left: 0;
    margin-left: 40px;
}

.profile-info-wrapper {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin-left: auto;
}

#input {
    border: none;
    width: 80%;
    outline: none;
    background: none;
    color: var(--lm-text);
    padding-left: 50px;
}

.btn-search {
    min-width: 84px;
    padding: 12px 16px;
    background-color: #0079ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}




@media screen and (min-width: 768px) {
    .container {
        width: 573px;
    }

    #input {
        font-size: 18px;
        width: 75%;
    }

    .btn-search {
        padding: 14px 28px;
        font-size: 16px;
    }

    .app {
        gap: 24px;
    }

    .profile-content {
        gap: 30px;
    }

    .profile-header {
        margin-bottom: 0;
    }

    #avatar {
        width: 117px;
    }

    .profile-info-wrapper {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 730px;
    }

    .profile-content { 
        gap: 16px;
    }
}