<div class="main">

    <div class="container">

        <div class="header">
            <h1>devfinder</h1>
            <div class="light-mode">
                <p>LIGHT</p>
                <img src="../../../assets/icons/icon-sun.svg" alt="">
            </div>
        </div>

        <form (ngSubmit)="submitForm()">
            <input type="text" [(ngModel)]="inputValue" name="inputField">
            <button type="submit">Submit</button>
        </form>
        <div *ngFor="let i of userArray">
            <img [src]="i.avatar_url" alt="">
            <p>{{i.blog}}</p>
            <p>followers:{{i.followers}}</p>
            <p>{{i.followers_url}}</p>
            <a [href]="i.followers_url">xoa</a>
        </div>
    </div>
</div>